.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /* padding: 1rem;  */
    /* maybe no padding on 320px??? */
    width: 100%;
    /* max-width: 1200px; */

}

@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        max-width: 1162px;
    }
}

.searchBar {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 0.5rem;
}

.searchBar input, .searchBar select {
    border-radius: 6px;
    border: none;
    outline: none;
}

.searchBar input, .searchBar select {
    /* color: var(--font-grey); */
    font-size: inherit;
    font-weight: inherit;
}

.searchBar input::placeholder {
    color: var(--font-grey);
}

.searchBar select {
    width: 6em;
    text-align: center;
    /* color: var(--font-grey) */
}

.plus {
    position: fixed;
    top: 88vh;
    right: 1rem;

    font-size: 5rem;
    font-weight: 300;
    color: var(--acc-orange);
    background-color: white;
    border-radius: 50%;

    line-height: 3rem;
    padding: 0.5rem;

    /* sticky!!!! ???*/
    
}

