.header {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: var(--acc-orange);
}


.title {
    font-size: 3rem;
    margin: 20px 0;
}

/* @media (min-width: 1024px) {
    .title {
        font-size: 4rem;
    }
} */