.header {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: var(--acc-orange);
}

.title {
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0;
}

@media (min-width: 1024px) {
    .title {
        font-size: 2.7rem;
    }
}