.container {
    background-color: var(--light-bg);
    color: var(--acc-orange);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 6px;

    /* 893  1045 */
    width: 280px;
    /* height: 400px; */
    padding: 2rem 20px;


    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.title {
    /* margin-top: 1.5rem; */
    margin-bottom: 3.5rem;
}

/* .container input {
    width: 100%;
    font-size: 16px;

    padding: 0.5em;
    border-radius: 6px;
    
}

.container input + input {
    margin-top: 1rem;
}

.container input + button {
    margin-top: 2rem;
} */

.container p {
    font-size: 16px;
    margin: 2rem;
    color: white;
}

.container a {
    font-size: 1.5rem;
    font-weight: 300;
}
