@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=ZCOOL+KuaiLe&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #000000;
  --light-bg: #2D2D2D;
  --acc-orange: #FF9900;
  --acc-red: #FF3D00;

  --font-grey: #808080;
  --font-light-grey: #454545;
}

/* 
  roboto
  300 400 500 700
  
  24
  36
  64


  ZCOOL KuaiLe
  Weight 
  400
  64

  font-family: 'Roboto', sans-serif;
  font-family: 'ZCOOL KuaiLe', cursive;
*/


body {
  /* font-size: 24px; this on desktop */
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--main-bg);
}

@media (min-width: 1024px) {
  :root{
    /* this don't work */
  }

  body {
    /* font-size: 24px; somehow some elements wouldn't respond to this */
  }

}